body{
	font-family: 'Almendra';font-size: 18px;
	margin:0;
	background: #fff;
}

#header {
		background-color: #383b43;
		color: #ffffff;
		cursor: default;
		font-size: 1.1em;
		height: 6em;
		line-height: 6em;
		width: 100%;
		z-index: 10000;
	}
#logo{
		width:90px;
		height:90px;
		border-radius:90px;
		border:1px solid black;
		float:left;
		background:#ccc;
		margin: 6px 3%;
}
#header nav {
			
		position: absolute;
		right: 3em;
			
		}

#header nav > ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
}

#header nav > ul > li {
		border-radius: 4px;
		display: inline-block;
		margin-left: 2em;
		padding-left: 0;
}

#header nav > ul > li a {
		color: #cdced0;
		display: inline-block;
		text-decoration: none;
}

#header nav > ul > li a:hover {
		color: #ffffff;
}
.menu-toggle{
	display:none;
}
.active{
	color: red !important;
}

#header nav > ul > li:first-child {
		margin-left: 0;
}

#one{
	background-color: #fff;
    cursor: default;
    
    width: 100%;
   
	float:left;
	
}
.banner{
	width:100%;
	float:left;
}
.det{
	width:50%;
	float:left;
}
.responsive{
	width:100%;
	
	float:left;
}
.abt_us{
	position: absolute;
    text-align: center;
    top: 35%;
    left: 46%;
    color: white;
    font-size: 30px;
}
.details{
	padding: 0% 2%;
   	float: left;
}
.p{
    text-align: justify;
}
p{
    text-align: justify;
}

.one{
	padding: 11px 38px;
    margin: 0;
}
#close{
	display: none;
}


#two{
	
   	width: 100%;
	float:left;	
}
.wrapper{
    padding: 3% 5%;
    float:left;
}
.first{
	width: 100%;
    float: left;
}
.d1{
	width: 355px;
   
    float: left;
    border: 1px solid black;
    margin: 14px 24px;
}
.d1:hover{
box-shadow: 5px 1px 14px #01050e;

}
.image_one{
	width:100%;
	height:16em;
	float:left;
}
.responsives{
	width:100%;
	height:16em;
	float:left;
}
.image_det{
	width:100%;
	height:8em;
	float:left;
}
.h4{
	margin: 3px 0;
    padding: 0;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
	text-transform:uppercase;
}
.car_det{
	text-align: justify;
    padding: 14px;
    margin: 0 0;
	
}
footer{
	width:100%;
	height:14em;
	float:left;
	background:#383b43;
	
}
/*@media only screen and (max-width:500px){
#two{
	height:auto;
}
.d1{
    margin: 14px 41px;
}
}
	
}*/
footer{
	width:100%;
	height:14em;
	display:block;
	background:#383b43;
	
}
.links{
	width: 25%;
    float: left;
}
.links h3{
	color: white;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
}
.ul{
	list-style: none;
}
.ul >.li {
	font-size: 21px;
    padding: 7px;
    text-align: left;
    color: #d1cccc;
    font-weight: 600;
    margin: 0% 20%;
}
.social{
	margin: 0 86px;
}
#i{
	font-size: 20px;
    margin: 0% 6%;
    color: white;
}
.follow{
	font-size: 18px;
    color: #9f9a9a;
    margin: 18px 9px;
}
/*@media only screen and (max-width:500px){
.links{
	width: 50%;
}
footer{
	height:auto;
}
.ul >.li {
	font-size: 17px;
    margin: 0% 10%;
}
.social{
	margin: 0 10px;
}
#i{
	font-size: 19px;
}	
}*/

@media only screen and (max-width:800px){
	#one{	
			width:100%;
		 	height: auto; 
		 	margin-top: 70px;
		}
	.banner,.det{
		width:100%;
	}	
	.wrapper {
    		padding: 3% 8%;
		}
	.abt_us{
		top: 24%;
		left: 39%;	
	}	
	.d1{
		width:100%;
		height: auto;
		margin: 14px 0px;
	}	
	#two{
			height: auto; 
		}
	footer{
			height: auto; 
		}	
	.social {
	  		margin: 0 45px;
		}
	 #header{
  		position:fixed;
  		height: 4em;
    	line-height: 4em;
 	 }	
 	 #logo{
 	 	width: 50px;
    	height: 53px;
 	 }		
	
	#fa{
		 font-size: 34px;
   		 margin: 18px 13px;
	}
	#close{
		 font-size: 34px;
   		 margin: 18px 13px;
	}
	.image_one{
		height: auto;
	}
	.responsives{
		height: auto;
	}
	.responsive{
		height: auto;
	}
	.car_det{
		padding: 8px;
	}
	.links h3{
		font-size: 14px;
	}
	.ul>.li{
		font-size: 12px;
	    padding: 7px;
	    text-align: left;
	    color: #d1cccc;
	    font-weight: 600;
	  	margin: 0% 6%;
	}
	#i{
		font-size: 12px;
   		 margin: 0% 6%;
	}
	.follow{
		 font-size: 12px;
	    color: #9f9a9a;
	    	}
}

@media only screen and (max-width:450px){
	#one{	
			width:100%;
		 	height: auto; 
		 	margin-top: 70px;
		}
	.banner,.det{
		width:100%;
	}	
	.wrapper {
    		padding: 3% 8%;
		}
	.d1{
		width:100%;
		height: auto;
		margin: 14px 0px;
	}
	.abt_us{
		top: 20%;
		left: 29%;
		font-size: 24px;
	}
	#two{
			height: auto; 
		}
	footer{
			height: auto; 
		}	
	.social {
	  		margin: 0 0px;
		}
	 #header{
  		position:fixed;
  		height: 4em;
    	line-height: 4em;
 	 }	
 	 #logo{
 	 	width: 50px;
    	height: 53px;
 	 }		
	.menu-toggle{
		float: right;
		display:block;
	}
	#nav{
		position: absolute;
	    width: 100%;
	    background: rgb(51, 51, 51);
	    top: 68px;;
	    left: 0px;
	    transition: all 0.5s ease 0s;
	    display: none;
	}
	#header nav > ul > li {
   		text-align: center;
   		display: block;
   		border-bottom: 1px solid white;
   		margin-left:0;
	}	
	#fa{
		 font-size: 34px;
   		 margin: 18px 13px;
	}
	#close{
		 font-size: 34px;
   		 margin: 18px 13px;
	}
	.image_one{
		height: auto;
	}
	.responsives{
		height: auto;
	}
	.responsive{
		height: auto;
	}
	.car_det{
		padding: 8px;
	}
	.links h3{
		font-size: 14px;
	}
	.ul>.li{
		font-size: 12px;
	    padding: 7px;
	    text-align: left;
	    color: #d1cccc;
	    font-weight: 600;
	    margin: 0% -45%;
	}
	#i{
		font-size: 12px;
   		 margin: 0% 6%;
	}
	.follow{
		 font-size: 12px;
	    color: #9f9a9a;
	    margin: 3px 16px;
	}

}
